.heading
{
 background-color: gray;
 text-align: center;
 font-size: 50px;
}
img{
    max-width: 500px;
    border-radius: 30px;
    width: 400px;
   
}
.container-box{
    border: 3;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    border-radius: 20%;
    align-items: center;
    padding: 2;
}
body{
    background-color: bisque;

}
.head{
    text-align: cente
    r;
    background-color: rgb(51, 48, 48);
    padding:2px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  
}