* {
  padding: 0%;
  margin: 0%;
}

div {
  text-align: center;
  line-height: 8vmax;
}

#upper_container{
  width: fit-content;
  padding: 50px 0px 50px 0px;
  height: 400px;
  margin: 50px auto;
  border-left: black solid 5px;
  border-right: black solid 5px;
}

#upper_div_container {
  position: relative;
  height: 300px;
  width: 600px;
}

#one {
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 0%;
  padding: 0%;
  position: absolute;
}
#two {
  height: 100px;
  width: 300px;
  float: left;
  background-color: yellow;
  float: left;
  position: absolute;
  left: 200px;
}

#three {
  position: absolute;
  right: 0;
  left: 500px;
  height: 200px;
  width: 100px;
  background-color:rgb(248, 8, 128);
}

#four {
  width: 300px;
  height: 100px;
  background-color: green;
  position: absolute;
  left: 200px;
  top: 100px;
}

#lower_container {
  position: relative;
  margin-top: -100px;
  width: 600px;
  height: 200px;
}

#five {
  width: 300px;
  height: 100px;
  background-color: orange;
}
#six {
  width: 100px;
  height: 100px;
  background-color:rgb(79, 192, 230);
  position: absolute;
  top: 0;
  left: 300px;
}

#seven {
  width: 200px;
  height: 200px;
  background-color: rgb(26, 26, 124);
  position: absolute;
  left: 400px;
  top: 0%;
}

#eight {
  width: 400px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 100px;
  background-color: grey;
}