body{
    background-color: #d4e0fc;
    margin: 20px;
    padding: 0px;
}
.download,h4{
    border-radius: 5px;
    padding: 5px;
    font-size: 30px;
    box-shadow: 8px 8px 3px #abc4ff;
    background-color: #abc4ff;
    border: 1px solid #abc4ff;
    color: white;
    
}
.in{
    display: inline-block;
    margin: 20px;
    padding: 0;
    width: 300px;
}
.no{
    display: none;
}
.subdiv2{
    display: none;
}
.subdiv1 .download > .trigger2{
    display: initial;
}
.subdiv2-1 .download > ul{
    display: initial;
}
.subdiv2-1-2 .download > ul{
    display: initial;
        background-color: #d4e0fc;
        margin: 20px;
        padding: 0px;
    }
    .download,h4{
        border-radius: 5px;
        padding: 5px;
        font-size: 30px;
        box-shadow: 8px 8px 3px #abc4ff;
        background-color: #abc4ff;
        border: 1px solid #abc4ff;
        color: white;
        
    }
    .in{
        display: inline-block;
        margin: 20px;
        padding: 0;
        width: 300px;
    }
    .no{
        display: none;
    }
    .subdiv2{
        display: none;
    }
    .subdiv2 .download > .trigger2{
        display: initial;
    }
    .subdiv2-1 .download > ul{
        display: initial;
    }
    .subdiv2-2 .download > ul{
        display: initial;
    }
    ul{
        text-align: left;
        
    }
    .download,h4 .download{
        background-color: #abc4ff;
        border: 1px solid #54BAB9;
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-size: 35px;
        box-shadow: 5px 5px 5px #78a1ff;
    }
    li .download{
    cursor: pointer;
    color: #abc4ff;
    background-color: white;
    padding-left: 10px ;
    border-radius: 5px;
    font-size: larger;
    }