@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Gideon+Roman&family=League+Gothic&family=Praise&family=Shizuru&family=Syne+Mono&family=ZCOOL+QingKe+HuangYou&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Gideon+Roman&family=League+Gothic&family=Praise&family=Shizuru&family=Syne+Mono&family=ZCOOL+QingKe+HuangYou&display=swap"); */
body {
  margin: 0%;
  padding: 0%;
}

#container {
  width: 500px;
  margin: 50px auto;
}
nav {
  background-color: black;
  width: 100%;
  height: 60px;
}
nav ul {
  display: flex;
  float: right;
}

#logo {
  font-size: 50px;
  font-family: "Dancing Script", cursive;
  font-family: "Praise", cursive;
  margin: 0;
  color: white;
  float: left !important;
}

nav ul i {
  font-size: 25px;
  color: white;
  margin-right: 10px;
}
#img {
  width: 100%;
}

#post ul {
  display: flex;
  list-style: none;
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
}

#post ul li {
  margin-left: 5px;
  color: white;
  padding-top: 10px;
}

#cartoon_image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 15px;
}
#features {
  background-color: black;
  height: 100px;
  width: 100%;
  margin: 0;
}
#features p {
  margin: 0;
  text-align: left;
  margin-left: 50px;
}
#features ul {
  flex-direction: row;
  flex-wrap: wrap;
}
#features ul li {
  font-size: 25px;
  padding: 5px;
}

footer {
  background-color: black;
  height: 50px;
  width: 100%;
  color: wheat;
}

footer ul {
  padding-top: 7px;
  padding-bottom: 5px;
  font-size: 30px;
  list-style: none;
}

footer ul li {
  cursor: pointer;
}

.hide_home {
  display: none;
}

#search_bar {
  height: 500px;
}
#search_bar input {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  border: grey 1px solid;
}

.searching_bar {
  display: none;
}

.notifications_style_hide {
  display: none;
}

#notifications {
  width: 100%;
  height: 700px;
}
#notifications img {
  width: 100%;
}

#reels {
  height: 600px;
  width: 100%;
}

.reels_hide {
  display: none;
}
#profile {
  width: 100%;
  height: 500px;
}
.profile_hide {
  display: none;
}

#profile img {
  width: 100%;
  height: 200px;
}